<div class="flex flex-col">
  <div class="m-6 text-center font-bold text-violet-950">
    <h1 class="text-5xl">Cześć,</h1>
    <h3 class="mt-2 text-xl">czym zajmiesz się dzisiaj?</h3>
  </div>
  <div class="flex flex-col gap-4">
    <div
      class="flex cursor-pointer flex-col items-center gap-2 rounded-t-xl border-b-8 border-violet-800 bg-white p-4"
    >
      <ng-icon name="heroRocketLaunch" size="3em"></ng-icon>
      <h2 class="text-3xl font-semibold text-violet-950">Nauka</h2>
      <span>Opanuj nowe słówka</span>
    </div>
    <div
      class="flex cursor-pointer flex-col items-center gap-2 rounded-t-xl border-b-8 border-violet-800 bg-white p-4"
    >
      <ng-icon name="heroFolderOpen" size="3em"></ng-icon>
      <h2 class="text-3xl font-semibold text-violet-950">Baza słówek</h2>
      <span>Zarządzaj zbiorem swoich fiszek</span>
    </div>
  </div>
</div>
